.cv-wrapper {
  padding: 32px 48px 48px 48px;
  min-width: 499px;
}

.spacer {
  flex: 1 1 auto;
}

h1 {
  margin-bottom: 8px;
}

h2, .mat-caption {
  margin-bottom: 0;
}

.overline {
  margin-bottom: 0;
  font-weight: 500;
}

.ms-cert mat-icon {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
}

mat-divider {
  margin-bottom: 16px;
}

ul {
  padding-inline-start: 0;
  margin: 4px;
}

.surname {
  background-color: rgba(0, 0, 0, 0.87);
  padding: 2px;
  color: white;
  text-transform: uppercase;
}
