<div class="cv-wrapper">
  <mat-list>
    <mat-list-item>
      <img matListAvatar src="./assets/avatar.jpg" alt="avatar" />
      <h2 matLine>
        <b>MYKYTA </b>
        <b class="surname">Navrotskyi</b>
      </h2>
      <p matLine class="mat-caption medium-emphasis">
        hukutocoo747596@gmail.com
      </p>
      <a
        mat-icon-button
        aria-label="open bitbucket account in new tab"
        matTooltip="Open Bitbucket account in new tab"
        target="_blank"
        href="https://bitbucket.org/f1m4uk/"
      >
        <img src="./assets/bitbucket.png" alt="bitbucket icon" width="24" />
      </a>
      <a
        mat-icon-button
        aria-label="open linkedin account in new tab"
        matTooltip="Open Linkedin account in new tab"
        target="_blank"
        href="https://www.linkedin.com/in/nick-riviera/"
      >
        <img src="./assets/linkedin.png" alt="linkedin icon" width="24" />
      </a>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <h1 class="medium-emphasis">Experience</h1>

  <h2>MOL</h2>
  <div style="display: flex">
    <p class="overline medium-emphasis">Full-stack web developer</p>
    <span class="spacer"></span>
    <p class="overline medium-emphasis">May 2018 - Present</p>
  </div>

  <p class="mat-caption">
    Developing cloud-based Library Management System used by 1300+ libraries
  </p>
  <ul>
    <li class="mat-caption medium-emphasis">
      implemented UI <b>RFID</b> module for scanning books contactlessly;
    </li>
    <li class="mat-caption medium-emphasis">
      implemented reports connected to data warehouse with <b>tons of data</b>;
    </li>
    <li class="mat-caption medium-emphasis">
      implemented importer, which allows users to import 6000+ books
      <b>in ~15 minutes</b>...
    </li>
  </ul>
  <p class="mat-caption">
    Developing huge auditory Online Public Access Catalog WCAG 2.0 compliant
  </p>
  <ul>
    <li class="mat-caption medium-emphasis">
      developed stress-tests, which showed vulnerabilities of API;
    </li>
    <li class="mat-caption medium-emphasis">
      designed and prototyped Material Design mobile/desktop look in Figma...
    </li>
  </ul>

  <h2>Wezom Agency</h2>
  <div style="display: flex">
    <p class="overline medium-emphasis">Front-end web developer intern</p>
    <span class="spacer"></span>
    <p class="overline medium-emphasis">Winter 2018</p>
  </div>

  <p class="mat-caption">Developing e-commerce solution similar to eBay</p>
  <ul>
    <li class="mat-caption medium-emphasis">
      improved parts of UI making it more intuitive and understandable.
    </li>
  </ul>

  <mat-divider></mat-divider>

  <h1 class="medium-emphasis">Education</h1>

  <h2>Kherson State University</h2>
  <div style="display: flex">
    <p class="overline medium-emphasis">Bachelor of Computer Science</p>
    <span class="spacer"></span>
    <p class="overline medium-emphasis">Fall 2014 - Summer 2018</p>
  </div>

  <ul style="list-style: none">
    <li class="mat-caption">
      <b>Courses:</b> Algorithms, Data structures, Compilers, OOP
    </li>
  </ul>

  <mat-divider></mat-divider>

  <h1 class="medium-emphasis">Skills</h1>
  <ul style="list-style: none">
    <li class="mat-caption">
      <b>Languages:</b> Javascript, Java, HTML5, CSS3, SQL
    </li>
    <li class="mat-caption">
      <b>Technologies:</b> Angular 2+, ExtJS, KnockoutJS, JQuery, Spring,
      NodeJS, PostgreSQL, Git
    </li>
  </ul>

  <mat-divider></mat-divider>

  <h1 class="medium-emphasis">Other</h1>
  <ul style="list-style: none">
    <li class="mat-caption">
      <b>Qualities:</b> hungry, ambitious, collaborative, perseverant,
      critically thinking leader
    </li>
    <li class="mat-caption"><b>Hobbies:</b> Dota 2, Mavic Air, ping-pong</li>
    <li class="mat-caption">
      <b>Languages:</b> Ukrainian/Russian - native, English - fluent, Polish -
      intermediate
    </li>
    <li class="mat-caption">
      Winner in science-research conferences of Ukraine Science Academy
    </li>
    <li class="mat-caption">
      <a
        class="ms-cert"
        href="https://www.youracclaim.com/badges/88331eda-14c5-4e6d-b56b-7c43094eebc1/linked_in_profile"
        style="text-decoration: none"
        target="_blank"
      >
        Microsoft Certificate
        <mat-icon class="medium-emphasis">open_in_new</mat-icon>
      </a>
    </li>
  </ul>
</div>
