<div class="speed-dial" *ngIf="isSpeedDialExpanded">
  <button mat-mini-fab aria-label="Download the CV as dense PDF" matTooltip="Download the CV as dense PDF" matTooltipPosition="left">
    <mat-icon>get_app</mat-icon>
  </button>

  <button mat-mini-fab aria-label="Toggle dark/light mode" matTooltip="Toggle dark/light mode" matTooltipPosition="left">
    <mat-icon>nights_stay</mat-icon>
  </button>

  <button mat-mini-fab aria-label="Miscellaneous settings" matTooltip="" matTooltipPosition="left">
    <mat-icon>miscellaneous_services</mat-icon>
  </button>
</div>

<button mat-fab color="primary" aria-label="Miscellaneous settings" (click)="isSpeedDialExpanded = !isSpeedDialExpanded">
  <mat-icon> {{ isSpeedDialExpanded ? 'close' : 'miscellaneous_services' }} </mat-icon>
</button>
