:host {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.speed-dial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    background-color: white;
    color: rgba(0, 0, 0, .60);
    margin-bottom: 8px;
  }
}
