<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <!-- Empty for now -->
  </mat-sidenav>
  <main
    [class.xsmall-or-small]="isXSmallOrSmall$ | async"
    [class.medium-or-large]="isMediumOrLarge$ | async"
  >
    <app-cv></app-cv>
    <a
      href="./assets/resume.pdf"
      download="MykytaNavrotskyiResume"
      mat-fab
      color="primary"
      aria-label="Download the CV as dense A4 PDF"
      matTooltip="Download the CV as dense A4 PDF"
      matTooltipPosition="left"
    >
      <mat-icon>get_app</mat-icon>
    </a>
  </main>
</mat-sidenav-container>
