.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

main {
  width: 33%;
  margin: auto;
  &.xsmall-or-small {
    width: 100%;
  }
  &.medium-or-large {
    width: 66%;
  }
}

[mat-fab] {
  position: fixed;
  right: 16px;
  bottom: 16px;
}
