/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Support for Text legibility of Material Design
// https://material.io/design/color/text-legibility.html#text-backgrounds -> Dark text on light backgrounds
.medium-emphasis {
  color: rgba(0, 0, 0, 0.60);
}

// Overline text support
// https://material.io/design/typography/the-type-system.html#type-scale
.overline {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
